.container-geral {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.info-component-container {
    display: flex;
    flex: 1;
    margin-top: 3rem;
    justify-content: space-around;
    max-width: 70%;
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-content {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: .5rem;
}

.circle-container {
    display: flex;
    flex: 1;
    background-color: #212121;
    min-width: 62px;
    min-height: 62px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.icon {
    height: 50px;
}

.item-title {
    color: var(--color-white-primary);
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
}

.item-title:hover {
    color: var(--color-white-secundary);
}

.item-subtitle {
    color: #828282;
    font-size: 16px;
    line-height: 21px;
}

@media (max-width: 768px) {
    .container-geral {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}