.title {
    font-size: 32px;
}

.myskills-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.top-sumary-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: fixed;
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 1000;
    left: 90%;
    top: 90%;
}

.top-sumary-container:hover {
    top: 89%;
}

.top-icon:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.skill {
    display: flex;
    margin: 1rem 1rem 1rem 1rem;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    min-width: 150px;
    background-color: #212121;
    position: relative;
    flex-direction: column;
}

.skill:hover .description {
    top:-4px;
    transition: all .2s ease-in-out;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
}

.description {
    opacity: 0;
    display: none;
    color: #828282 !important;
}

@media (max-width: 768px) {
    .myskills-container {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
}