@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --color-white-primary: #F9F9F9;
    --color-white-secundary: #A4A4A4;
    --color-black-primary: #212429;
    --color-black-secundary: #A4A4A4;
    --color-gray-basic: #828282;
    --color-green-basic: #00DF5E;
    --color-black-171717: #171717;
    --color-gray-828282: #828282;
}

#root, :root {
    background-color: #171717;
    font-family: 'DM Sans';
    font-style: normal;
} 

.white-title {
    color: #F9F9F9;
    font-weight: 700;
}

.link-react-dom {
    text-decoration: none;
}